sudo: false
dist: trusty

before_cache:
  # The `ivydata-*.properties` & root level `*.{properties,xml}` files'
  # effect on resolution time is in the noise, but they are
  # re-timestamped in internal comments and fields on each run and this
  # leads to travis-ci cache thrash.  Kill these files before the cache
  # check to avoid un-needed cache re-packing and re-upload (a ~100s
  # operation).
  - find $HOME/.ivy2/pants -type f -name "ivydata-*.properties" -print -delete
  - rm -fv $HOME/.ivy2/pants/*.{css,properties,xml,xsl}
  # The stats cache contains timestamped reports unused by CI but that
  # thrash the cache.  Skip caching these.
  - rm -rf $HOME/.cache/pants/stats

cache:
  directories:
    - $HOME/.cache/pants
    - $HOME/.ivy2/pants

language: java

x-test: &x-test
  script: |
    java -version
    ./pants --compile-zinc-worker-count=${WORKERS:-6} doc test ::

x-switcher: &x-switcher
  <<: *x-test
  install:
    - jdk_switcher use ${JDK}

x-installer: &x-installer
  <<: *x-test
  before_install:
    - wget https://raw.githubusercontent.com/sormuras/bach/ab648ed36892439f49a827cdf18c25e17c8095db/install-jdk.sh
  install: |
    feature=$(echo ${JDK} | sed -E -e 's/^.*([0-9]+)$/\1/')
    license=$(echo ${JDK} | sed -E -e 's/^oracle.*$/BCL/' -e 's/^open.*$/GPL/')
    source ./install-jdk.sh -F ${feature} -L ${license} -v

jobs:
  include:
    - <<: *x-switcher
      name: OpenJDK 6
      # JDK 6 does not react well to concurrent usage of in-process javac as used by zinc,
      # so we limit concurrency.
      env: JDK=openjdk6 WORKERS=1
    - <<: *x-switcher
      name: OpenJDK 7
      env: JDK=openjdk7
    - <<: *x-switcher
      name: Oracle JDK 8
      env: JDK=oraclejdk8
    - <<: *x-installer
      name: Oracle JDK 9
      env: JDK=oraclejdk9
    - <<: *x-installer
      name: OpenJDK 10
      env: JDK=openjdk10
    - <<: *x-installer
      name: OpenJDK 11
      env: JDK=openjdk11

